includes/payex2/wsdl/external.payex.com-pxaccount.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://external.payex.com/PxClient/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://external.payex.com/PxClient/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://external.payex.com/PxClient/">
      <s:element name="ListTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountNumber" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="clientType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="clientRef" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="maxRowCount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="filterByTransactionNumber" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="hash" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListTransactionsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountNumber" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="clientType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="clientRef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hash" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateAccountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListInvoiceCA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountNumber" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="clientAccountNumber" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="fromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hash" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListInvoiceCAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListInvoiceCAResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListInvoiceTransactionCA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountNumber" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="clientAccountNumber" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="invoiceNumber" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="hash" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListInvoiceTransactionCAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListInvoiceTransactionCAResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:ListTransactions" />
  </wsdl:message>
  <wsdl:message name="ListTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:ListTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="CreateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="CreateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ListInvoiceCASoapIn">
    <wsdl:part name="parameters" element="tns:ListInvoiceCA" />
  </wsdl:message>
  <wsdl:message name="ListInvoiceCASoapOut">
    <wsdl:part name="parameters" element="tns:ListInvoiceCAResponse" />
  </wsdl:message>
  <wsdl:message name="ListInvoiceTransactionCASoapIn">
    <wsdl:part name="parameters" element="tns:ListInvoiceTransactionCA" />
  </wsdl:message>
  <wsdl:message name="ListInvoiceTransactionCASoapOut">
    <wsdl:part name="parameters" element="tns:ListInvoiceTransactionCAResponse" />
  </wsdl:message>
  <wsdl:message name="ListTransactionsHttpPostIn">
    <wsdl:part name="accountNumber" type="s:string" />
    <wsdl:part name="clientType" type="s:string" />
    <wsdl:part name="clientRef" type="s:string" />
    <wsdl:part name="maxRowCount" type="s:string" />
    <wsdl:part name="filterByTransactionNumber" type="s:string" />
    <wsdl:part name="hash" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListTransactionsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CreateAccountHttpPostIn">
    <wsdl:part name="accountNumber" type="s:string" />
    <wsdl:part name="clientType" type="s:string" />
    <wsdl:part name="clientRef" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="type" type="s:string" />
    <wsdl:part name="currency" type="s:string" />
    <wsdl:part name="hash" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateAccountHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ListInvoiceCAHttpPostIn">
    <wsdl:part name="accountNumber" type="s:string" />
    <wsdl:part name="clientAccountNumber" type="s:string" />
    <wsdl:part name="fromDate" type="s:string" />
    <wsdl:part name="toDate" type="s:string" />
    <wsdl:part name="hash" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListInvoiceCAHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ListInvoiceTransactionCAHttpPostIn">
    <wsdl:part name="accountNumber" type="s:string" />
    <wsdl:part name="clientAccountNumber" type="s:string" />
    <wsdl:part name="invoiceNumber" type="s:string" />
    <wsdl:part name="hash" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListInvoiceTransactionCAHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="PxAccountSoap">
    <wsdl:operation name="ListTransactions">
      <wsdl:input message="tns:ListTransactionsSoapIn" />
      <wsdl:output message="tns:ListTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <wsdl:input message="tns:CreateAccountSoapIn" />
      <wsdl:output message="tns:CreateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListInvoiceCA">
      <wsdl:input message="tns:ListInvoiceCASoapIn" />
      <wsdl:output message="tns:ListInvoiceCASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListInvoiceTransactionCA">
      <wsdl:input message="tns:ListInvoiceTransactionCASoapIn" />
      <wsdl:output message="tns:ListInvoiceTransactionCASoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PxAccountHttpPost">
    <wsdl:operation name="ListTransactions">
      <wsdl:input message="tns:ListTransactionsHttpPostIn" />
      <wsdl:output message="tns:ListTransactionsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <wsdl:input message="tns:CreateAccountHttpPostIn" />
      <wsdl:output message="tns:CreateAccountHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListInvoiceCA">
      <wsdl:input message="tns:ListInvoiceCAHttpPostIn" />
      <wsdl:output message="tns:ListInvoiceCAHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListInvoiceTransactionCA">
      <wsdl:input message="tns:ListInvoiceTransactionCAHttpPostIn" />
      <wsdl:output message="tns:ListInvoiceTransactionCAHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PxAccountSoap" type="tns:PxAccountSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListTransactions">
      <soap:operation soapAction="http://external.payex.com/PxClient/ListTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://external.payex.com/PxClient/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListInvoiceCA">
      <soap:operation soapAction="http://external.payex.com/PxClient/ListInvoiceCA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListInvoiceTransactionCA">
      <soap:operation soapAction="http://external.payex.com/PxClient/ListInvoiceTransactionCA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PxAccountSoap12" type="tns:PxAccountSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListTransactions">
      <soap12:operation soapAction="http://external.payex.com/PxClient/ListTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap12:operation soapAction="http://external.payex.com/PxClient/CreateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListInvoiceCA">
      <soap12:operation soapAction="http://external.payex.com/PxClient/ListInvoiceCA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListInvoiceTransactionCA">
      <soap12:operation soapAction="http://external.payex.com/PxClient/ListInvoiceTransactionCA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PxAccountHttpPost" type="tns:PxAccountHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ListTransactions">
      <http:operation location="/ListTransactions" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <http:operation location="/CreateAccount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListInvoiceCA">
      <http:operation location="/ListInvoiceCA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListInvoiceTransactionCA">
      <http:operation location="/ListInvoiceTransactionCA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PxAccount">
    <wsdl:port name="PxAccountSoap" binding="tns:PxAccountSoap">
      <soap:address location="https://external.payex.com/pxClient/pxaccount.asmx" />
    </wsdl:port>
    <wsdl:port name="PxAccountSoap12" binding="tns:PxAccountSoap12">
      <soap12:address location="https://external.payex.com/pxClient/pxaccount.asmx" />
    </wsdl:port>
    <wsdl:port name="PxAccountHttpPost" binding="tns:PxAccountHttpPost">
      <http:address location="https://external.payex.com/pxClient/pxaccount.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>